
/*General Styling*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Yantramanav';
  overflow: hidden;
}
a{
  text-decoration: none;
}

ul, li{
  list-style: none;
}

/*services-seciton*/
.services-section{
   padding: 50px 0 0 0;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2{
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.section-title h2:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #ff8f17;
    margin-left: -30px;
}

.section-title h2:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 2px;
    background: #222222;
    margin-left: -10px;
}

.single-service{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.single-service img{
    height: 50px;
    width: 50px;
}

.single-service h3{
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0;
}

.single-service p{
    font-size: 15px;
    font-weight: 300;
}